.input{
    border:none;
    background-color: #f7f7f7;
    border-radius: .7rem;
    padding: .5rem 1rem;
    transition: all .3s;
    &:hover , &:focus{
      transform: scale(1.1);
    }
    &:focus{
      outline: none;
    }
    
  }
  
  .form{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    &__group{
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
      input{
        margin-left: 4rem;
        flex: 1;
      }
    }
  }