.navigation{
    //width: 15%;
    align-self: stretch;
    background-color: $color-dark-2;
    flex: 0 0 15%;
    
    &__list{
      list-style: none;
      padding: 3rem 0;
    }
    &__item{
      text-align: center;
      height: 3rem;
      //padding: 1rem 0;
      //background-color: pink;
      display: flex;
      //justify-content: center;
      align-items: center;
      &:not(:last-child){
        margin-bottom: 3rem;
      }
      
    }
    &__link{
      font-size: 1.2rem;
      text-decoration: none;
      padding: 1rem;
      color: $color-white;
      //display: inline-block;
      width: 100%;
      transition: all .2s;
      &:hover{
        color: orange;
        
        border-bottom: .1rem solid orange;
      }
    }
  }