$color-primary:#EAA750;
$color-white: #fff;
$color-dark-3: #222222;
$color-dark-footer: #000000;
$color-blue-2: #1da1f2;
$color-grey-2: #EEEEEE;
$color-grey-darker: #666666;

$color-blue: #02B7E9;
$color-grey: #f7f7f7;
$color-dark: #333;
$color-dark-2: #000;