@font-face {
  font-family: 'MyFont';
  src: local("MyFont"), url(./assets/fonts/Aphrodite_Text.woff) format("woff"); }

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(40rem); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.7; }

.heading-hero {
  font-size: 4rem;
  color: #fff;
  letter-spacing: .3rem;
  margin-bottom: 1.5rem;
  font-weight: normal; }

.heading-primary {
  font-size: 4rem;
  color: #EAA750;
  font-weight: normal;
  margin-bottom: 1.5rem;
  font-family: MyFont; }

.heading-black {
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 3rem;
  color: #333; }

.heading-black-medium {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 3rem; }

.heading-black-small {
  font-size: 2.4rem;
  font-weight: 300;
  color: #333; }
  @media only screen and (max-width: 37.5em) {
    .heading-black-small {
      font-size: 2rem; } }

.heading-secondary {
  font-size: 2rem;
  margin-bottom: 2rem; }

.paragraph {
  font-size: 1.6rem;
  color: #666666;
  font-weight: 400;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      font-size: 1.2rem; } }

.u-margin-bottom-large {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-text-white {
  color: #fff; }

.u-text-grey {
  color: #f7f7f7; }

.u-text-grey-darker {
  color: #666666; }

.u-text-primary {
  color: #EAA750; }

.u-bg-primary {
  background-color: #EAA750; }

.u-bg-dark {
  background-color: #333; }

.u-bg-white {
  background-color: #fff; }

.active-item {
  font-size: 1.4rem;
  color: #EAA750; }

.complete {
  background-color: #EAA750;
  color: #fff; }

.container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7; }

.content {
  align-self: flex-start;
  padding: 3rem;
  flex: 1;
  margin: 1rem;
  background-color: #fff;
  box-shadow: -1rem 0.5rem 3rem rgba(0, 0, 0, 0.07);
  border-radius: .7rem; }

.admin__control__text {
  margin-bottom: 2rem; }
  .admin__control__text span {
    width: 15rem;
    display: inline-block;
    border-radius: .7rem;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.6rem;
    box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.07);
    cursor: pointer;
    transition: all .3s; }
    .admin__control__text span:not(:first-child) {
      margin-left: 2rem; }
    .admin__control__text span:hover {
      background-color: #02B7E9;
      color: #fff;
      transform: translateY(-0.4rem);
      box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.3); }

.admin__control__search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0rem; }
  .admin__control__search input {
    border: none;
    border-radius: .7rem;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    background-color: #f7f7f7;
    color: #333;
    flex: 1; }
    .admin__control__search input:focus {
      outline: none; }
  .admin__control__search button {
    background-color: #02B7E9;
    padding: 1rem 3rem;
    border: none;
    border-radius: .7rem;
    color: #fff;
    cursor: pointer;
    transition: all .3s; }
    .admin__control__search button:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0rem 1.5rem 3rem rgba(0, 0, 0, 0.3); }
    .admin__control__search button:active {
      transform: translateY(-0.2rem);
      box-shadow: 0rem 1.5rem 3rem rgba(0, 0, 0, 0.07);
      outline: none; }

.admin__data {
  margin: 4rem 0; }
  .admin__data table {
    width: 100%; }
    .admin__data table thead {
      background-color: #000; }
      .admin__data table thead tr {
        font-size: 1.2rem;
        border-right: 0.1rem solid #f7f7f7; }
        .admin__data table thead tr td {
          padding: 1rem 0;
          text-transform: uppercase;
          color: #fff;
          text-align: center; }
    .admin__data table tfoot tr {
      text-align: center; }
      .admin__data table tfoot tr td {
        padding: 2rem 0;
        font-size: 1.2rem;
        font-style: italic; }
    .admin__data table tbody tr td {
      padding: 1rem 0;
      font-size: 1.2rem;
      border-bottom: 0.1rem solid #f7f7f7;
      text-align: center; }
      .admin__data table tbody tr td a {
        text-decoration: none;
        color: #222222; }
      .admin__data table tbody tr td:last-child {
        cursor: pointer; }
    .admin__data table tbody tr:nth-child(2n) {
      background-color: #f7f7f7; }
  .admin__data__control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10rem; }
    .admin__data__control--button {
      outline: none;
      background-color: transparent;
      border: none;
      width: 10rem;
      display: inline-block;
      border-radius: .7rem;
      text-align: center;
      padding: 1rem 0;
      font-size: 1.2rem;
      box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.07);
      cursor: pointer;
      transition: all .3s; }
      .admin__data__control--button:hover {
        background-color: #02B7E9;
        color: #fff;
        transform: translateY(-0.4rem);
        box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.3); }
      .admin__data__control--button:not(:last-child) {
        margin-right: 2rem; }
      .admin__data__control--button:disabled {
        background-color: #f7f7f7;
        color: #333;
        box-shadow: 0rem 0rem 0rem white; }
      .admin__data__control--button:disabled:hover {
        color: #333;
        transform: translateY(0);
        box-shadow: 0 0 0 0; }

.header {
  width: 100%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.07);
  padding: 2rem;
  text-align: center; }
  .header__title {
    font-size: 3.2rem;
    font-family: 'MyFont';
    font-weight: normal;
    color: #EAA750; }
  .header__subtitle {
    font-size: 2.2rem;
    font-family: 'MyFont';
    font-weight: normal; }

.navigation {
  align-self: stretch;
  background-color: #000;
  flex: 0 0 15%; }
  .navigation__list {
    list-style: none;
    padding: 3rem 0; }
  .navigation__item {
    text-align: center;
    height: 3rem;
    display: flex;
    align-items: center; }
    .navigation__item:not(:last-child) {
      margin-bottom: 3rem; }
  .navigation__link {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem;
    color: #fff;
    width: 100%;
    transition: all .2s; }
    .navigation__link:hover {
      color: #EAA750;
      font-size: 1.6rem; }

.input:not([type="file"]) {
  border: none;
  background-color: #f7f7f7;
  border-radius: .7rem;
  padding: .5rem 1rem;
  transition: all .3s; }
  .input:not([type="file"]):hover {
    transform: scale(1.05); }
  .input:not([type="file"]):focus {
    outline: none; }

.container-form {
  padding-top: 4rem;
  background-color: #f7f7f7;
  padding-bottom: 6rem; }
  .container-form .form {
    width: 50%;
    padding: 3rem 0;
    background-color: #fff;
    margin: auto;
    border-radius: .7rem;
    box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .container-form .form__group {
      width: 100%;
      padding: 0 4rem;
      height: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem; }
      .container-form .form__group label {
        width: 18%;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold; }
      .container-form .form__group input {
        margin-left: 4rem;
        flex: 1;
        padding: 1.5rem 1rem; }
        .container-form .form__group input:focus {
          background-color: #fff;
          border: .1rem solid #2998ff;
          border-radius: .7rem;
          outline: none; }
      .container-form .form__group select.input {
        flex: 1;
        margin-left: 4rem; }
        .container-form .form__group select.input:hover {
          transform: scale(1); }

button[type="submit"] {
  margin: 3rem 0;
  border: none;
  border-radius: .7rem;
  padding: 1rem 3rem;
  background-color: transparent;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .4s; }
  button[type="submit"]:hover {
    transform: translateY(-0.7rem);
    box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.05);
    background-color: #222222;
    color: #fff; }

.u-margin-bottom-large {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-text-white {
  color: #fff; }

.u-text-grey {
  color: #f7f7f7; }

.u-text-grey-darker {
  color: #666666; }

.u-text-primary {
  color: #EAA750; }

.u-bg-primary {
  background-color: #EAA750; }

.u-bg-dark {
  background-color: #333; }

.u-bg-white {
  background-color: #fff; }

.active-item {
  font-size: 1.4rem;
  color: #EAA750; }

.complete {
  background-color: #EAA750;
  color: #fff; }
