@font-face {
  font-family: 'MyFont';
  src: local("MyFont"), url(./assets/fonts/Aphrodite_Text.woff) format("woff"); }

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(40rem); }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.7; }

.heading-hero {
  font-size: 4rem;
  color: #fff;
  letter-spacing: .3rem;
  margin-bottom: 1.5rem;
  font-weight: normal; }

.heading-primary {
  font-size: 4rem;
  color: #EAA750;
  font-weight: normal;
  margin-bottom: 1.5rem;
  font-family: MyFont; }

.heading-black {
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 3rem;
  color: #333; }

.heading-black-medium {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 3rem; }

.heading-black-small {
  font-size: 2.4rem;
  font-weight: 300;
  color: #333; }
  @media only screen and (max-width: 37.5em) {
    .heading-black-small {
      font-size: 2rem; } }

.heading-secondary {
  font-size: 2rem;
  margin-bottom: 2rem; }

.paragraph {
  font-size: 1.6rem;
  color: #666666;
  font-weight: 400;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      font-size: 1.2rem; } }

.u-margin-bottom-large {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-text-white {
  color: #fff; }

.u-text-grey {
  color: #f7f7f7; }

.u-text-grey-darker {
  color: #666666; }

.u-text-primary {
  color: #EAA750; }

.u-bg-primary {
  background-color: #EAA750; }

.u-bg-dark {
  background-color: #333; }

.u-bg-white {
  background-color: #fff; }

.active-item {
  font-size: 1.4rem;
  color: #EAA750; }

.complete {
  background-color: #EAA750;
  color: #fff; }

.error-label {
  margin-top: 3rem;
  color: red;
  font-size: 1.2rem;
  font-style: italic; }

.container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7; }

.content {
  align-self: flex-start;
  padding: 3rem;
  flex: 1;
  margin: 1rem;
  background-color: #fff;
  box-shadow: -1rem 0.5rem 3rem rgba(0, 0, 0, 0.07);
  border-radius: .7rem; }

.admin__control__text {
  margin-bottom: 2rem; }
  .admin__control__text span {
    width: 15rem;
    display: inline-block;
    border-radius: .7rem;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.6rem;
    box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.07);
    cursor: pointer;
    font-family: 'MyFont';
    transition: all .3s; }
    .admin__control__text span:not(:first-child) {
      margin-left: 2rem; }
    .admin__control__text span:hover {
      background-color: #02B7E9;
      color: #fff;
      transform: translateY(-0.4rem);
      box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.3); }

.admin__control__search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0rem; }
  .admin__control__search input {
    border: none;
    border-radius: .7rem;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    background-color: #f7f7f7;
    color: #333;
    flex: 1;
    font-family: 'MyFont'; }
    .admin__control__search input:focus {
      outline: none; }
  .admin__control__search button {
    background-color: #02B7E9;
    padding: 1rem 3rem;
    border: none;
    border-radius: .7rem;
    color: #fff;
    cursor: pointer;
    transition: all .3s; }
    .admin__control__search button:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0rem 1.5rem 3rem rgba(0, 0, 0, 0.3); }
    .admin__control__search button:active {
      transform: translateY(-0.2rem);
      box-shadow: 0rem 1.5rem 3rem rgba(0, 0, 0, 0.07);
      outline: none; }

.admin__data {
  margin: 4rem 0; }
  .admin__data table {
    width: 100%; }
    .admin__data table thead {
      background-color: #000; }
      .admin__data table thead tr {
        font-size: 1.2rem;
        border-right: 0.1rem solid #f7f7f7; }
        .admin__data table thead tr td {
          padding: 1rem 0;
          text-transform: uppercase;
          color: #fff;
          text-align: center; }
    .admin__data table tfoot tr {
      text-align: center; }
      .admin__data table tfoot tr td {
        padding: 2rem 0;
        font-size: 1.2rem;
        font-style: italic; }
    .admin__data table tbody tr td {
      padding: 1rem 0;
      font-size: 1.2rem;
      border-bottom: 0.1rem solid #f7f7f7;
      text-align: center; }
      .admin__data table tbody tr td a {
        text-decoration: none;
        color: #222222;
        display: inline-block;
        width: 3.2rem;
        transition: all .2s; }
        .admin__data table tbody tr td a:hover {
          color: #EAA750;
          font-weight: bold; }
      .admin__data table tbody tr td:last-child:not(.normal) {
        cursor: pointer;
        transition: all .2s;
        display: block;
        height: 2rem;
        width: 9rem;
        margin: 0 auto; }
        .admin__data table tbody tr td:last-child:not(.normal):hover {
          color: #EAA750;
          font-weight: bold; }
      .admin__data table tbody tr td:last-child.rowDelete {
        width: 3rem; }
      .admin__data table tbody tr td:last-child.total {
        cursor: pointer;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        display: block;
        height: 8rem;
        width: 10rem;
        margin: 0 auto;
        position: relative; }
        .admin__data table tbody tr td:last-child.total .total_price {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.8rem;
          color: #EAA750; }
      .admin__data table tbody tr td.spinDel {
        display: inline-block;
        width: 3.2rem; }
    .admin__data table tbody tr#spinnCircle {
      width: 100%; }
    .admin__data table tbody tr:nth-child(2n) {
      background-color: #f7f7f7; }
    .admin__data table tbody tr td.rowDelete {
      width: 6.2rem; }
  .admin__data__control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10rem; }
    .admin__data__control--button {
      outline: none;
      background-color: transparent;
      border: none;
      width: 10rem;
      display: inline-block;
      border-radius: .7rem;
      text-align: center;
      padding: 1rem 0;
      font-size: 1.2rem;
      box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.07);
      cursor: pointer;
      transition: all .3s; }
      .admin__data__control--button:hover {
        background-color: #02B7E9;
        color: #fff;
        transform: translateY(-0.4rem);
        box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.3); }
      .admin__data__control--button:not(:last-child) {
        margin-right: 2rem; }
      .admin__data__control--button:disabled {
        background-color: #f7f7f7;
        color: #333;
        box-shadow: 0rem 0rem 0rem white; }
      .admin__data__control--button:disabled:hover {
        color: #333;
        transform: translateY(0);
        box-shadow: 0 0 0 0; }

.login {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("https://www.grainchain.com/sites/default/files/flour-baking-background-with-egg%2C-rolling-pin-and-wheat-ear-000069728007_Medium_3.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login__content {
    border-radius: .7rem;
    width: 50rem;
    background-color: #fff;
    padding: 2rem; }
    .login__content h3 {
      font-size: 2rem;
      text-align: center;
      margin: 3rem 0 8rem 0;
      font-weight: normal; }
    .login__content .form__auth input {
      width: 100%;
      padding: 1.5rem 2rem;
      border-radius: .7rem;
      border: none;
      background-color: #EEEEEE; }
      .login__content .form__auth input:not(:last-child) {
        margin-bottom: 2rem; }
    .login__content .form__auth .btn__auth__in {
      padding: 1.2rem 2rem;
      background-color: #EAA750;
      color: #fff;
      border: none;
      width: 100%;
      font-size: 1.6rem;
      transition: all .3s;
      cursor: pointer; }
      .login__content .form__auth .btn__auth__in:hover {
        transform: translateY(-0.7rem);
        box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2); }
      .login__content .form__auth .btn__auth__in:active {
        transform: translateY(-0.3rem);
        box-shadow: 0rem 0.4rem 1.6rem 0rem rgba(0, 0, 0, 0.2); }
    .login__content .form__auth p {
      font-size: 1.6rem;
      text-align: right;
      margin: 2rem 0;
      color: #EAA750;
      cursor: pointer; }
    .login__content .form__auth .btn__auth__up {
      padding: 1.2rem 2rem;
      background-color: #fff;
      color: #333;
      border: .1rem solid #333;
      width: 100%;
      font-size: 1.6rem;
      transition: all .3s;
      margin-top: 2rem;
      cursor: pointer; }
      .login__content .form__auth .btn__auth__up:hover {
        background-color: #222222;
        color: #fff;
        transform: translateY(-0.7rem);
        box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.4); }
      .login__content .form__auth .btn__auth__up:active {
        transform: translateY(-0.3rem);
        box-shadow: 0rem 0.4rem 1.6rem 0rem rgba(0, 0, 0, 0.2); }
    .login__content p {
      text-align: center;
      margin: 2rem 0; }
      .login__content p span {
        font-size: 1.6rem; }
        .login__content p span:last-child {
          color: #EAA750;
          font-size: 1.8rem;
          margin-left: 1.5rem;
          cursor: pointer; }

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #EAA750;
  margin: -3px 0 0 -3px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 3.2rem;
  height: 3.2rem; }

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: .6rem;
  width: .6rem;
  background: #EAA750;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }

.lds-facebook div:nth-child(1) {
  left: 1rem;
  animation-delay: -0.24s; }

.lds-facebook div:nth-child(2) {
  left: 2.2rem;
  animation-delay: -0.12s; }

.lds-facebook div:nth-child(3) {
  left: 3.5rem;
  animation-delay: 0; }

@keyframes lds-facebook {
  0% {
    top: .3rem;
    height: 1.2rem; }
  50%, 100% {
    top: 1.5rem;
    height: 1.2rem; } }

.header {
  width: 100%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.07);
  padding: 2rem;
  text-align: center; }
  .header__title {
    font-size: 3.2rem;
    font-family: 'MyFont';
    font-weight: normal;
    color: #EAA750; }
  .header__subtitle {
    font-size: 2.2rem;
    font-family: 'MyFont';
    font-weight: normal; }

.navigation {
  align-self: stretch;
  background-color: #000;
  flex: 0 0 15%; }
  .navigation__list {
    list-style: none;
    padding: 3rem 0; }
  .navigation__item {
    text-align: center;
    height: 3rem;
    display: flex;
    align-items: center; }
    .navigation__item:not(:last-child) {
      margin-bottom: 3rem; }
  .navigation__link {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem;
    color: #fff;
    width: 100%;
    transition: all .2s; }
    .navigation__link:hover {
      color: #EAA750;
      font-size: 1.6rem; }

.input:not([type="file"]) {
  border: none;
  background-color: #f7f7f7;
  border-radius: .7rem;
  padding: .5rem 1rem;
  transition: all .3s; }
  .input:not([type="file"]):hover {
    transform: scale(1.05); }
  .input:not([type="file"]):focus {
    outline: none; }

.container-form {
  padding-top: 4rem;
  background-color: #f7f7f7;
  padding-bottom: 6rem; }
  .container-form .form {
    width: 50%;
    padding: 3rem 0;
    background-color: #fff;
    margin: auto;
    border-radius: .7rem;
    box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .container-form .form__group {
      width: 100%;
      padding: 0 4rem;
      height: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem; }
      .container-form .form__group label {
        width: 18%;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold; }
      .container-form .form__group input {
        margin-left: 4rem;
        flex: 1;
        padding: 1.5rem 1rem; }
        .container-form .form__group input:focus {
          background-color: #fff;
          border: .1rem solid #2998ff;
          border-radius: .7rem;
          outline: none; }
      .container-form .form__group select.input {
        flex: 1;
        margin-left: 4rem; }
        .container-form .form__group select.input:hover {
          transform: scale(1); }

button[type="submit"] {
  margin: 3rem 0;
  border: none;
  border-radius: .7rem;
  padding: 1rem 3rem;
  background-color: transparent;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .4s;
  font-family: 'MyFont'; }
  button[type="submit"]:hover {
    transform: translateY(-0.7rem);
    box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.05);
    background-color: #222222;
    color: #fff; }

.btn {
  display: inline-block;
  width: 100%;
  padding: .5rem 0;
  background-color: transparent;
  color: #fff;
  border: none;
  transition: all .3s;
  cursor: pointer; }
  .btn:hover {
    color: #EAA750;
    font-size: 1.6rem; }

.u-margin-bottom-large {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-text-white {
  color: #fff; }

.u-text-grey {
  color: #f7f7f7; }

.u-text-grey-darker {
  color: #666666; }

.u-text-primary {
  color: #EAA750; }

.u-bg-primary {
  background-color: #EAA750; }

.u-bg-dark {
  background-color: #333; }

.u-bg-white {
  background-color: #fff; }

.active-item {
  font-size: 1.4rem;
  color: #EAA750; }

.complete {
  background-color: #EAA750;
  color: #fff; }

.error-label {
  margin-top: 3rem;
  color: red;
  font-size: 1.2rem;
  font-style: italic; }
